Flask==3.0.0
pytesseract==0.3.10
pdfplumber==0.10.3
pdf2image==1.16.3
python-docx==1.1.0
spacy==3.7.2
Pillow==10.1.0
reportlab==4.0.7
Werkzeug==3.0.1
Flask==3.0.0
pdf2image==1.16.3
pdfplumber==0.10.3
Pillow==10.1.0
pytesseract==0.3.10
python-docx==1.1.0
reportlab==4.0.7
spacy==3.7.2
Werkzeug==3.0.1
bcrypt
docx
numpy
